* {
    /* Não altere nada aqui dentro */
    font-family: "Poppins", sans-serif;

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    /* Não altere nada aqui dentro */
    height: 100vh;
    width: 100%;
}

:root {
    --blue: #004587;
    --gray: #CCCCCC;
    --white: #FFFFFF;
}

/* Escreva a partir daqui */